.lock
.DS_Store

**/_changes/
**/.DS_Store
**/.lock

# ===============================
# DreamForm: Ignore submissions only
# ===============================

# Keep form definitions tracked
/forms/**
!/forms/forms.txt
!/forms/*/
!/forms/*/form.txt
!/forms/*/*.yml
!/forms/*/*.yaml
!/forms/*/*.php
!/forms/*/*.md

# Ignore submission folders and everything inside them
/forms/*/*/
/forms/*/*/**


### Exclude local ai 
.claude/